body, html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f1f1ff;
}

.header {
    background-image: linear-gradient(to bottom right, #a6c1ea, #f2b7af);
}

ul { 
    list-style: none; 
    padding-left: 5px; 
}

a { 
    color:blue; 
    text-decoration: none;
}

a:hover {
    color: red;
    text-decoration: underline;
}


dt {
    margin: .5rem 0;
    color: blue;
}

dd {
    padding-top: .5rem;
}

.logo {
    text-align: center;
    padding: 1rem;
}

.bar {
    background-color: #f9f9fb;
    padding:15px;
    border-top: solid 1px #cdcdcd;
    border-bottom: solid 1px #cdcdcd;
}

.content {
    max-width: 1440px;
    margin: auto;
    grid-gap: 3rem;
    display: grid;
    gap: 3rem;
    grid-template-areas: "sidebar main anchors";
    grid-template-columns: minmax(0,15rem) minmax(0,2.5fr) minmax(0,15rem);
    padding-left: 1rem;
    padding-right: 1rem;
}

.footer {
    display: flex;

    min-height: 100px;
    border-top: solid 1px #cdcdcd;

    justify-content: space-evenly;
    align-items: center;

    background-image: linear-gradient(to bottom right,  #a6c1ea, #f2b7af);
}

.footer-span {
    color: red;
}

.footer li {
    margin: .5rem;
}

.footer-ico img{
    width: 20px;
    margin: 0 .2rem;
}

address {
    display: flex;
    margin: .5rem 0;
    text-align: center;
    align-items: center;
}

.anchors {
    display: block;
    border-left: solid 1px #cdcdcd;
    padding-left: 15px;
    position: sticky;
    top: 10px;
    box-sizing: border-box;
    z-index: 99;
    max-height: calc(100vh - (55px * 2));
    transition: all 300ms ease-in-out;
}

.anchors li,
.sidebar li{
    padding-top: 1rem ;
}

.card-left {
    border: 1px solid #a2a9b1;
    border-spacing: 3px;
    background-color: #f8f9fa;
    color: black;
    margin: 0.5em 0 0.5em 1em;
    float: right;
    clear: right;
    font-size: 88%;
    line-height: 1.5em;
    width: 22em;
}

.sidebar {
    border-right: solid 1px #cdcdcd;
    position: sticky;
    top: 10px;
    box-sizing: border-box;
    z-index: 99;
    max-height: calc(100vh - (55px * 2));
    transition: all 300ms ease-in-out;
}

figure {
    text-align: center;
}

.lista-personagens {
  counter-reset: item-personagem; /* Inicializa o contador */
  list-style: none;
}

.personagem {
  counter-increment: item-personagem; /* Incrementa a cada div */
  margin-bottom: 20px;
  position: relative;
  padding-left: 30px;
}

.personagem dt::before {
  content: counter(item-personagem) ". "; /* Exibe o número */
  font-weight: bold;
  color: red; /* Cor opcional para o número */
}

.section {
    margin: 3rem 0;
}

table {
    width: 100%;
    border: 1px solid #000;
    border-spacing: 0;
}

tr {
    text-align: center;
}

th, td {
    border: 1px solid #000;
    padding: .5rem 0;
}

.ligacoes-externas ul{
   list-style-type: disc;
}

dd {
    margin-right: 4em;
}


.mw-parser-output .infobox-subbox {
    padding: 0;
    border: none;
    margin: -3px;
    width: auto;
    min-width: 100%;
    font-size: 100%;
    clear: none;
    float: none;
    background-color: transparent
}

.mw-parser-output .infobox-3cols-child {
    margin: auto
}

.mw-parser-output .infobox .navbar {
    font-size: 100%
}

.mw-parser-output .infobox {
    border: 1px solid #a2a9b1;
    border-spacing: 3px;
    background-color: #f8f9fa;
    color: black;
    margin: 0.5em 0 0.5em 1em;
    float: right;
    clear: right;
    font-size: 88%;
    line-height: 1.5em;
    width: 22em
}

.mw-parser-output .infobox-header,
.mw-parser-output .infobox-label,
.mw-parser-output .infobox-above,
.mw-parser-output .infobox-full-data,
.mw-parser-output .infobox-data,
.mw-parser-output .infobox-below,
.mw-parser-output .infobox-subheader,
.mw-parser-output .infobox-image,
.mw-parser-output .infobox-navbar,
.mw-parser-output .infobox th,
.mw-parser-output .infobox td {
    vertical-align: top
}

.mw-parser-output .infobox-label,
.mw-parser-output .infobox-data,
.mw-parser-output .infobox th,
.mw-parser-output .infobox td {
    text-align: left
}

.mw-parser-output .infobox .infobox-above,
.mw-parser-output .infobox .infobox-title,
.mw-parser-output .infobox caption {
    font-size: 125%;
    font-weight: bold;
    text-align: center
}

.mw-parser-output .infobox-title,
.mw-parser-output .infobox caption {
    padding: 0.2em
}

.mw-parser-output .infobox .infobox-header,
.mw-parser-output .infobox .infobox-subheader,
.mw-parser-output .infobox .infobox-image,
.mw-parser-output .infobox .infobox-full-data,
.mw-parser-output .infobox .infobox-below {
    text-align: center
}

.mw-parser-output .infobox .infobox-navbar {
    text-align: right
}

body.skin-minerva .mw-parser-output .infobox-header,
body.skin-minerva .mw-parser-output .infobox-subheader,
body.skin-minerva .mw-parser-output .infobox-above,
body.skin-minerva .mw-parser-output .infobox-title,
body.skin-minerva .mw-parser-output .infobox-image,
body.skin-minerva .mw-parser-output .infobox-full-data,
body.skin-minerva .mw-parser-output .infobox-below {
    text-align: center
}

@media screen {
    html.skin-theme-clientpref-night .mw-parser-output .infobox-full-data:not(.notheme)>div:not(.notheme)[style] {
        background: #1f1f23 !important;
        color: #f8f9fa
    }
}

@media screen and (prefers-color-scheme:dark) {
    html.skin-theme-clientpref-os .mw-parser-output .infobox-full-data:not(.notheme)>div:not(.notheme)[style] {
        background: #1f1f23 !important;
        color: #f8f9fa
    }
}

@media(min-width:640px) {
    body.skin--responsive .mw-parser-output .infobox-table {
        display: table !important
    }

    body.skin--responsive .mw-parser-output .infobox-table>caption {
        display: table-caption !important
    }

    body.skin--responsive .mw-parser-output .infobox-table>tbody {
        display: table-row-group
    }

    body.skin--responsive .mw-parser-output .infobox-table th,
    body.skin--responsive .mw-parser-output .infobox-table td {
        padding-left: inherit;
        padding-right: inherit
    }
}
.mw-parser-output .ib-topo-animanga {
    background: #CCF url("//upload.wikimedia.org/wikipedia/commons/6/63/Picto_infobox_anime_and_manga.png")no-repeat top right;
    font-size: 125%;
    font-style: italic;
    font-weight: bold;
    height: 45px
}

.mw-parser-output .plainlist ol,
.mw-parser-output .plainlist ul {
    line-height: inherit;
    list-style: none;
    margin: 0;
    padding: 0
}

.mw-parser-output .plainlist ol li,
.mw-parser-output .plainlist ul li {
    margin-bottom: 0
}