body, html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f1f1ff;
}

.header {
    background-image: linear-gradient(to bottom right, #000, #616060);
}

ul { 
    list-style: none; padding-left: 5px; 
}

a { 
    color:blue; text-decoration: none;
}

p {
    text-align: justify;
}

dt {
    margin: .5rem 0;
    color: blue;
}

dd {
    padding-top: .5rem;
}

.logo {
    text-align: center;
    padding: 1rem;
}

.bar {
    background-color: #f9f9fb;
    padding:15px;
    border-top: solid 1px #cdcdcd;
    border-bottom: solid 1px #cdcdcd;
}

.content {
    max-width: 1440px;
    margin: auto;
    grid-gap: 3rem;
    display: grid;
    gap: 3rem;
    grid-template-areas: "sidebar main anchors";
    grid-template-columns: minmax(0,15rem) minmax(0,2.5fr) minmax(0,15rem);
    padding-left: 1rem;
    padding-right: 1rem;
}

.footer {
    display: flex;

    min-height: 100px;
    border-top: solid 1px #cdcdcd;

    justify-content: space-evenly;
    align-items: center;

    background-image: linear-gradient(to bottom right, #000, #616060);
    color: white;
}

.footer-span {
    color: red;
}

.footer li {
    margin: .5rem;
}

.footer-ico img{
    width: 20px;
    margin: 0 .2rem;
}

address {
    display: flex;
    margin: .5rem 0;
    text-align: center;
    align-items: center;
}

.anchors {
    display: block;
    border-left: solid 1px #cdcdcd;
    padding-left: 15px;
    position: sticky;
    top: 10px;
    box-sizing: border-box;
    z-index: 99;
    max-height: calc(100vh - (55px * 2));
    transition: all 300ms ease-in-out;
}

.anchors li,
.sidebar li{
    padding-top: 1rem ;
}

.card-left {
    border: 1px solid #a2a9b1;
    border-spacing: 3px;
    background-color: #f8f9fa;
    color: black;
    margin: 0.5em 0 0.5em 1em;
    float: right;
    clear: right;
    font-size: 88%;
    line-height: 1.5em;
    width: 22em;
}

.sidebar {
    border-right: solid 1px #cdcdcd;
    position: sticky;
    top: 10px;
    box-sizing: border-box;
    z-index: 99;
    max-height: calc(100vh - (55px * 2));
    transition: all 300ms ease-in-out;
}

figure {
    text-align: center;
}

.lista-personagens {
  counter-reset: item-personagem; /* Inicializa o contador */
  list-style: none;
}

.personagem {
  counter-increment: item-personagem; /* Incrementa a cada div */
  margin-bottom: 20px;
  position: relative;
  padding-left: 30px;
}

.personagem dt::before {
  content: counter(item-personagem) ". "; /* Exibe o número */
  font-weight: bold;
  color: red; /* Cor opcional para o número */
}

.section {
    margin: 3rem 0;
}

table {
    width: 100%;
    border: 1px solid #000;
    border-spacing: 0;
}

tr {
    text-align: center;
}

th, td {
    border: 1px solid #000;
    padding: .5rem 0;
}

.ligacoes-externas ul{
   list-style-type: disc;
}

dd {
    margin-right: 4em;
}